[submodule "LumenEngine/Dependencies/spdlog"]
	path = LumenEngine/Dependencies/spdlog
	url = https://github.com/gabime/spdlog
[submodule "LumenEngine/Dependencies/glfw"]
	path = LumenEngine/Dependencies/glfw
	url = https://github.com/glfw/glfw
