[submodule "LibRenderer/Dependencies/spdlog"]
	path = LibRenderer/Dependencies/spdlog
	url = https://github.com/gabime/spdlog
[submodule "LibRenderer/Dependencies/glfw"]
	path = LibRenderer/Dependencies/glfw
	url = https://github.com/glfw/glfw
